<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
</head>
<body>
<header th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand fw-bold" href="/">Cloud Storage</a>
            <div>
                <ul class="navbar-nav gap-2">
                    <li class="nav-item" sec:authorize="isAnonymous()">
                        <a href="/login" type="button" class="fw-bold btn btn-outline-secondary">Log in</a>
                    </li>
                    <li class="nav-item" sec:authorize="isAnonymous()">
                        <a href="/register" type="button" class="fw-bold btn btn-primary">Register</a>
                    </li>
                    <li class="my-auto" sec:authorize="isAuthenticated()">
                        <p class="my-auto fw-bold" sec:authentication="name"></p>
                    </li>
                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <form method="post" th:action="@{/logout}">
                            <button type="submit" class="btn btn-light shadow-none">Log out</button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
</body>
</html>