<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div th:fragment="pagination">
    <nav aria-label="Pagination" th:if="${totalPages > 0}">
        <ul class="pagination" th:with="urlBuilder=${T(com.vadimistar.cloudfilestorage.web.utils.ServletUriComponentsBuilderWrapper).fromCurrentRequest()}">
            <li class="page-item" th:classappend="${currentPage == 1} ? 'disabled' : ''">
                <a class="page-link"
                   th:href="${urlBuilder.replaceQueryParam('page', currentPage - 1).build().toUriString()}"
                   th:text="Previous"></a>
            </li>
            <li class="page-item"
                th:each="page : ${#numbers.sequence(1, totalPages)}"
                th:classappend="${currentPage == page ? 'active' : ''}">
                <a class="page-link"
                   th:href="${urlBuilder.replaceQueryParam('page', page).build().toUriString()}"
                   th:text="${page}"></a>
            </li>
            <li class="page-item" th:classappend="${currentPage >= totalPages} ? 'disabled' : ''">
                <a class="page-link"
                   th:href="${urlBuilder.replaceQueryParam('page', currentPage + 1).build().toUriString()}"
                   th:text="Next"></a>
            </li>
        </ul>
    </nav>
</div>
</body>
</html>
