<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cloud File Storage</title>
</head>
<body>
    <header th:insert="~{fragments/header.html :: header}"></header>
    <div class="container">
        <div class="row">
            <div th:insert="~{fragments/search-bar.html :: search-bar}"></div>
        </div>
        <div class="alert alert-danger" th:if="${error}" th:text="${error}"></div>
        <div class="row">
            <div class="w-25 py-2 px-2">
                <form method="post" th:action="@{/folder/upload}" enctype="multipart/form-data" th:object="${request}">
                    <input class="form-control" type="file" name="files" multiple/>
                    <ul hidden class="list-group mt-2" style="max-height: 200px; overflow-y: scroll">
                    </ul>
                    <div class="form-group mt-2">
                        <button type="submit" class="btn btn-primary w-100 disabled">Upload files</button>
                    </div>
                    <input type="hidden" th:value="${param.path}" name="path" />
                </form>
            </div>
            <div class="w-25 py-2 px-2">
                <form method="post" th:action="@{/folder/upload}" enctype="multipart/form-data" th:object="${request}">
                    <input class="form-control" type="file" name="files" webkitdirectory />
                    <ul hidden class="list-group mt-2" style="max-height: 200px; overflow-y: scroll">
                    </ul>
                    <div class="form-group mt-2">
                        <button type="submit" class="btn btn-primary w-100 disabled">Upload folder</button>
                    </div>
                    <input type="hidden" th:value="${param.path}" name="path">
                </form>
            </div>
            <div class="w-25 py-2 px-2 mt-auto">
                <form method="post" th:action="@{/folder/create}">
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary w-100">Create folder</button>
                    </div>
                    <input type="hidden" th:value="${param.path}" name="path">
                </form>
            </div>
        </div>
        <div class="row">
            <div class="mx-2 my-2 bg-light">
                <nav class="mx-2 mt-3" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item" th:each="breadcrumbsElement : ${breadcrumbs}">
                            <a th:href="${breadcrumbsElement.getPath()}" th:text="${breadcrumbsElement.getName()}"></a>
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="row">
            <div th:insert="~{fragments/pagination.html :: pagination(totalPages=${filesPage.totalPages})}"></div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-auto" th:each="file, istat : ${filesPage}">
                    <div class="my-2">
                        <div class="bg-light" style="width: 180px; height: 270px;">
                            <div class="text-end">
                                <a class="btn btn-light" th:if="${file.isFolder()}" th:href="@{/folder(path=${file.getPath()})}">●●●</a>
                                <a class="btn btn-light" th:unless="${file.isFolder()}" th:href="@{/file(path=${file.getPath()})}">●●●</a>
                            </div>
                            <div th:if="${file.isFolder()}">
                                <a th:href="@{/(path=${file.getPath()})}">
                                    <div class="text-center my-2">
                                        <img th:src="@{/assets/folder128.png}" alt=""/>
                                    </div>
                                    <p class="h6 mt-2 text-center" th:text="${file.getName()}"></p>
                                </a>
                            </div>
                            <div th:unless="${file.isFolder()}">
                                <div class="text-center my-2">
                                    <img th:src="@{/assets/file128.png}" alt=""/>
                                </div>
                                <p class="h6 mt-2 text-center" th:text="${file.getName()}"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" th:src="@{/js/fileupload.js}"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</body>
</html>